*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
h1{
    font-weight:200;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.search{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.search img{
    height: 40px;
    position: absolute;
    left: 350px;
    cursor: pointer;
    transition: 1s;
}
.search img:hover{
    background-color: rgb(22, 21, 21);
    height: 45px;
    border-radius: 15px;
}
.search input{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    outline:none;
    outline: 4px solid white;
}
.images{
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap:wrap;
}